body{
	text-align: center;
	font-family: "Helvetica";
}
.banner{
	background-image: url('../img/flatiron.png');
	color: white;
}
.nav{
	color: white;
	font-weight: bold;
}
h1{
	font-size: 70px;
}
.footer{
	background-color: gray;
	text-align: left;
	color: white;
}
